 body, html{
background-color: chocolate;
 }
 
 .bg {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 1000px;

  }

  .bg2 {
    width: 100%;
    height: 100%;
    max-height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 1000px;

  }

  .bg3 {
    width: 100%;
    height: 100%;
    max-height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 1000px;

  } 

  /* height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
/* 
   @media only screen and (max-width: 319px){

    .bg {

        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
      }
    
      .bg2 {
    
      
        height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      }
    
      .bg3 {
    
      
        height: 100%;

    
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
      } 
  
   
    
  }   */