 body, html{
background-color: rgb(41, 37, 32);
 }
 
 .bg {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 1000px;

  }

  .bg2 {
    width: 100%;
    height: 100%;
    max-height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 1000px;

  }

  .bg3 {
    width: 100%;
    height: 100%;
    max-height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 1000px;

  } 
    